@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400&display=swap");

@import "nulstyle.scss";

body {
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
}
//навигационная панель слева
.conteiner {
	width: 100px;
	height: 100%;
	display: block;
	position: fixed;
	background: rgb(30, 87, 153);
	background: -moz-linear-gradient(top, rgb(30, 87, 153) 0%, rgb(41, 137, 216) 28%, rgb(125, 185, 232) 67%);
	background: -webkit-linear-gradient(top, rgb(30, 87, 153) 0%, rgb(41, 137, 216) 28%, rgb(125, 185, 232) 67%);
	background: linear-gradient(to bottom, rgb(30, 87, 153) 0%, rgb(41, 137, 216) 28%, rgb(125, 185, 232) 67%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 );
	// фото с книжечкой
	&__photo {
		width: 90px;
		height: 85px;
		margin: 10px 0 0 3px;
		background-image: url(../images/glavnav.png);
	}
	// вторая фото
	&__photo1 {
		width: 90px;
		height: 150px;
		margin: 380px 0 0 3px;
		border: 1px solid black;
		border-radius: 30px;
		background-image: url(../images/photo3nav.jpg);
		box-shadow: 0 0 15px white;
	}

	// навигация
	&__nav {
		width: 90px;
		height: 25px;
		border: 1px solid white;
		background-color: white;
		border-radius: 30px;
		position: absolute;
		top: 120px;
		left: 5px;
		text-align: center;
		box-shadow: 0 0 15px white;
		.nav__text1 {
			font-family: "PT Sans";
			font-weight: bold;
			color: black;
			font-size: 20px;
			text-shadow: 0 0 10px white;
		}
	}
	&__navi {
		width: 90px;
		height: 25px;
		border: 1px solid white;
		border-radius: 30px;
		position: absolute;
		top: 220px;
		left: 5px;
		text-align: center;
		background-color: white;
		box-shadow: 0 0 15px white;
		.navi__text2 {
			font-family: "PT Sans";
			font-weight: bold;
			color: black;
			font-size: 20px;
			text-shadow: 0 0 10px white;
		}
	}
	&__naviga {
		width: 90px;
		height: 25px;
		border: 1px solid white;
		border-radius: 30px;
		position: absolute;
		top: 320px;
		left: 5px;
		text-align: center;
		background-color: white;
		box-shadow: 0 0 15px white;
		.naviga__text3 {
			font-family: "PT Sans";
			font-weight: bold;
			color: black;
			font-size: 20px;
			text-shadow: 0 0 10px white;
		}
	}
	&__navigat {
		width: 90px;
		height: 25px;
		border: 1px solid white;
		border-radius: 30px;
		position: absolute;
		top: 420px;
		left: 5px;
		text-align: center;
		background-color: white;
		box-shadow: 0 0 15px white;
		.navigat__text4 {
			font-family: "PT Sans";
			font-weight: bold;
			color: black;
			font-size: 20px;
			text-shadow: 0 0 10px white;
		}
	}
	// связь с нами
	&__nav1 {
		background-image: url(../images/Gmail.png);
		background-repeat: no-repeat;
		background-size: contain;
		width: 60px;
		height: 60px;
		border: 1px solid white;
		border-radius: 30px;
		position: absolute;
		top: 840px;
		left: 20px;
		box-shadow: 1px 1px 15px white;
		.nav1__gmail {
			width: 100%;
			height: 100%;
			border-radius: 30px;
			display: block;
		}
	}
	&__nav2 {
		background-image: url(../images/watsap.jpg);
		background-repeat: no-repeat;
		background-size: contain;
		width: 60px;
		height: 60px;
		border: 1px solid white;
		border-radius: 30px;
		position: absolute;
		top: 740px;
		left: 20px;
		box-shadow: 1px 1px 15px white;
		.nav2__watsap {
			width: 100%;
			height: 100%;
			border-radius: 30px;
			display: block;
		}
	}
	&__nav3 {
		background-image: url(../images/Instagram.png);
		background-repeat: no-repeat;
		background-size: contain;
		width: 60px;
		height: 60px;
		border: 1px solid white;
		border-radius: 30px;
		position: absolute;
		top: 640px;
		left: 20px;
		box-shadow: 1px 1px 15px white;
		.nav3__instagram {
			width: 100%;
			height: 100%;
			border-radius: 30px;
			display: block;
		}
	}
}
// первая шапка сайта
.block1 {
	position: absolute;
	top: 0;
	left: 100px;
	width: 1760px;
	height: 500px;
	background-image: url(../images/pervoe.jpg);
	background-repeat: no-repeat;
	background-size: contain;
	.block1__logotip {
		position: absolute;
		top: 120px;
		left: 400px;
		width: 200px;
		height: 200px;
		background-image: url(../images/logot.jpg);
		border-radius: 100px;
	}
	.logotip__text3 {
		position: absolute;
		left: 180px;
		top: 10px;
		font-size: 180px;
		text-decoration: underline 4px;
	}
	.logotip__text4 {
		position: absolute;
		left: 30px;
		top: 10px;
		font-size: 180px;
	}
	.logotip__text5 {
		display: inline-block;
		position: absolute;
		top: 165px;
		left: 180px;
		width: 290px;
		font-size: 19px;
		font-style: italic;
	}
}
// второй раздел сайта
.block2 {
	display: flex;
	position: relative;
	top: 500px;
	left: 100px;
	width: 1760px;
	height: 680px;
	justify-content: space-between;
	.block2__text1 {
		font-size: 52px;
		margin: 10px 0 0 580px;
		width: 630px;
		height: 50px;
	}
	.block2__text2 {
		position: absolute;
		top: 1px;
		left: 450px;
		font-size: 30px;
		margin: 80px 0 0 180px;
		color: rgba(0, 0, 0, 0.692);
		width: 500px;
		text-align: center;
	}
	.block2__img1 {
		border-radius: 10px;
		width: 300px;
		height: 200px;
		border: 1px solid white;
		box-shadow: 0 0 10px black;
		position: absolute;
		top: 200px;
		right: 100px;
		background-image: url(../images/paketYslyg.jpg);
		text-align: center;
		.img1__text {
			font-size: 24px;
			margin: 200px 0 0 0;
		}
	}
	.block2__img2 {
		border-radius: 10px;
		width: 300px;
		height: 200px;
		border: 1px solid white;
		box-shadow: 0 0 10px black;
		position: absolute;
		top: 200px;
		right: 520px;
		background-image: url(../images/shestirenka.jpg);
		text-align: center;
		.img1__text1 {
			font-size: 24px;
			margin: 200px 0 0 0;
		}
	}
	.block2__img3 {
		border-radius: 10px;
		width: 300px;
		height: 200px;
		border: 1px solid white;
		box-shadow: 0 0 10px black;
		position: absolute;
		top: 200px;
		right: 930px;
		background-image: url(../images/rykopazatie.jpeg);
		text-align: center;
		.img1__text2 {
			font-size: 24px;
			margin: 200px 0 0 0;
		}
	}
	.block2__img4 {
		border-radius: 10px;
		width: 300px;
		height: 200px;
		border: 1px solid white;
		box-shadow: 0 0 10px black;
		position: absolute;
		top: 200px;
		right: 1350px;
		background-image: url(../images/razoviyDogovor.jpg);
		text-align: center;
		.img1__text3 {
			font-size: 24px;
			margin: 200px 0 0 0;
		}
	}
	.block2__img5 {
		border-radius: 10px;
		width: 300px;
		height: 200px;
		border: 1px solid white;
		box-shadow: 0 0 10px black;
		position: absolute;
		top: 450px;
		right: 310px;
		background-image: url(../images/stroxovka.jpg);
		text-align: center;
		.img1__text4 {
			font-size: 24px;
			margin: 200px 0 0 0;
		}
	}
	.block2__img6 {
		border-radius: 10px;
		width: 300px;
		height: 200px;
		border: 1px solid white;
		box-shadow: 0 0 10px black;
		position: absolute;
		top: 450px;
		right: 730px;
		background-image: url(../images/work.jpg);
		text-align: center;
		.img1__text5 {
			font-size: 24px;
			margin: 200px 0 0 0;
		}
	}
	.block2__img7 {
		border-radius: 10px;
		width: 300px;
		height: 200px;
		border: 1px solid white;
		box-shadow: 0 0 10px black;
		position: absolute;
		top: 450px;
		right: 1150px;
		background-image: url(../images/bistroVsrok.jpg);
		text-align: center;
		.img1__text6 {
			font-size: 24px;
			margin: 200px 0 0 0;
		}
	}
}

// третий раздел сайта
.block3 {
	position: relative;
	top: 500px;
	left: 100px;
	width: 1764px;
	height: 630px;
	text-align: center;
	position: relative;
	// заголовок
	&__text1 {
		font-size: 50px;
	}
	// диван
	&__img1 {
		background-image: url(../images/pergament.jpg);
		width: 762px;
		height: 500px;
		margin: 50px 0 0 1000px;
		box-shadow: 0 0 10px black;
		border-radius: 15px 0 0 15px;
	}
	// текст напротив дивана
	&__text2 {
		position: absolute;
		top: 100px;
		left: 5px;
		width: 900px;
		height: 250px;
		margin: 0 0 0 30px;
		.text3 {
			font-size: 24px;
		}
		.text4 {
			margin: 5px 0 0 0;
			font-size: 22px;
			text-align: left;
		}
		.text5 {
			margin: 10px 0 0 0;
			font-size: 24px;
			text-align: left;
		}
	}
	// линия между текстом напротив дивана
	&__line1 {
		margin: 10px 0 0 50px;
		width: 800px;
		height: 1px;
		border: 1px solid black;
	}
	// 3 фотографии на против дивана
	&__img {
		width: 970px;
		height: 250px;
		position: absolute;
		top: 350px;
		left: 20px;
		display: flex;
		justify-content: space-between;
		.img__1 {
			width: 300px;
			height: 200px;
			background-image: url(../images/syxayYborka.png);
			border-radius: 10px;
			box-shadow: 0 0 10px black;
			margin: 15px 0 0 0;
			.img__text1 {
				font-size: 20px;
				margin: 200px 0 0 0;
			}
		}
		.img__2 {
			width: 300px;
			height: 200px;
			background-image: url(../images/Nancie-BvlaznayYborka.jpg);
			border-radius: 10px;
			box-shadow: 0 0 10px black;
			margin: 15px 0 0 0;
			.img__text2 {
				font-size: 20px;
				margin: 200px 0 0 0;
			}
		}
		.img__3 {
			width: 300px;
			height: 200px;
			background-image: url(../images/moykaZerkal.jpg);
			border-radius: 10px;
			box-shadow: 0 0 10px black;
			margin: 15px 0 0 0;
			.img__text3 {
				font-size: 20px;
				margin: 200px 0 0 0;
			}
		}
	}
	// кнопка на фото с диваном
	.block3__knopka {
		position: absolute;
		top: 160px;
		right: 90px;
		width: 200px;
		height: 50px;
		border: 1px solid wheat;
		border-radius: 15px;
		padding: 10px 0 0 0;
		.knopka1 {
			color: black;
			font-size: 24px;
			text-decoration: underline;
		}
	}
	.block3__knopka:hover {
		box-shadow: 0 0 10px black;
		position: absolute;
		top: 160px;
		right: 90px;
		background-color: rgba(255, 235, 205, 0.431);
	}
}

// 4 раздел  сайта
.block4 {
	display: flex;
	position: absolute;
	top: 1809px;
	right: 0px;
	display: block;
	width: 1764px;
	height: 700px;
	padding: 0 0 0 50px;
	background-image: url(../images/4razdelCite.png);
	// текст прайс лист
	&__text {
		font-size: 44px;
		margin: 10px 0 0 720px;
	}
	// первый стобец
	&__table {
		width: 300px;
		height: 400px;
		border-radius: 20px;
		background-color: rgba(127, 255, 212, 0.589);
		margin: 10px 0 0 20px;
		padding: 10px 0 0 0;
		box-shadow: 0 0 10px white;
		// генеральная уборка текст
		.table__text {
			font-size: 21px;
			text-align: center;
			margin: 10px 0 0 0;
			text-decoration: underline;
			color: black;
			font-weight: 600;
		}
		// цены первого столбца
		.table__ceni {
			width: 100%;
			height: 20px;
			text-decoration: underline;
			font-size: 26px;
			text-align: center;
			margin: 25px 0 0 0;
		}
	}
	// второй стобец
	&__table1 {
		width: 300px;
		height: 400px;
		border-radius: 20px;
		background-color: rgba(127, 255, 212, 0.589);
		margin: -400px 0 0 350px;
		padding: 10px 0 0 0;
		box-shadow: 0 0 10px white;
		.table1__text1 {
			font-size: 21px;
			text-align: center;
			margin: 10px 0 0 0;
			text-decoration: underline;
			color: black;
			font-weight: 600;
		}
		.table1__ceni1 {
			width: 100%;
			height: 20px;
			text-decoration: underline;
			font-size: 26px;
			text-align: center;
			margin: 25px 0 0 0;
		}
	}
	// третий стобец
	&__table2 {
		width: 300px;
		height: 400px;
		border-radius: 20px;
		background-color: rgba(127, 255, 212, 0.589);
		margin: -400px 0 0 680px;
		padding: 10px 0 0 0;
		box-shadow: 0 0 10px white;
		.table2__text2 {
			font-size: 21px;
			text-align: center;
			margin: 10px 0 0 0;
			text-decoration: underline;
			color: black;
			font-weight: 600;
		}
		.table2__ceni2 {
			width: 100%;
			height: 20px;
			text-decoration: underline;
			font-size: 26px;
			text-align: center;
			margin: 25px 0 0 0;
		}
	}
	// четвертый стобец
	&__table3 {
		width: 300px;
		height: 400px;
		border-radius: 20px;
		background-color: rgba(127, 255, 212, 0.589);
		margin: -400px 0 0 1010px;
		padding: 10px 0 0 0;
		box-shadow: 0 0 10px white;
		.table3__text3 {
			font-size: 21px;
			text-align: center;
			margin: 10px 0 0 0;
			text-decoration: underline;
			color: black;
			font-weight: 600;
		}
		.table3__ceni3 {
			width: 100%;
			height: 20px;
			text-decoration: underline;
			font-size: 26px;
			text-align: center;
			margin: 25px 0 0 0;
		}
	}
	// пятый стобец
	&__table4 {
		width: 300px;
		height: 400px;
		border-radius: 20px;
		background-color: rgba(127, 255, 212, 0.589);
		margin: -400px 0 0 1340px;
		padding: 10px 0 0 0;
		box-shadow: 0 0 10px white;
		.table__text4 {
			font-size: 21px;
			text-align: center;
			margin: 10px 0 0 0;
			text-decoration: underline;
			color: black;
			font-weight: 600;
		}
		.table4__ceni4 {
			width: 100%;
			height: 20px;
			text-decoration: underline;
			font-size: 26px;
			text-align: center;
			margin: 45px 0 0 0;
		}
	}
	// шестой стобец информация
	&__text2 {
		width: 960px;
		height: 220px;
		margin: 10px 0 0 350px;
		border-radius: 20px;
		box-shadow: 0 0 10px white;
		background-color: rgba(127, 255, 212, 0.589);
		.text2__1 {
			font-size: 32px;
			text-align: center;
		}
		.text2__2 {
			font-size: 24px;
			text-align: center;
			color: rgba(0, 0, 0, 0.87);
		}
		.text2__3 {
			margin: 3px 0 0 0;
			font-size: 24px;
			text-align: center;
		}
		.text2__3::before {
			content: "|";
		}
		.text2__3::after {
			content: "|";
		}
		.text2__3:hover {
			text-shadow: 0 0 5px white;
			color: white;
		}
	}
}

// 5 раздел сайта
.block5 {
	display: flex;
	position: absolute;
	top: 2509px;
	left: 100px;
	width: 1764px;
	height: 550px;
	background: rgb(30, 87, 153);
	background: -moz-linear-gradient(top, rgb(30, 87, 153) 0%, rgb(41, 137, 216) 28%, rgb(125, 185, 232) 67%);
	background: -webkit-linear-gradient(top, rgb(30, 87, 153) 0%, rgb(41, 137, 216) 28%, rgb(125, 185, 232) 67%);
	background: linear-gradient(to bottom, rgb(30, 87, 153) 0%, rgb(41, 137, 216) 28%, rgb(125, 185, 232) 67%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 );

	// видео в планшете
	&__video {
		position: absolute;
		top: 100px;
		left: 1200px;
		width: 546px;
		height: 420px;
		z-index: 1;
		.video__vid {
			border-radius: 200px;
		}
	}
	// текст в планшете
	&__text {
		display: flex;
		position: absolute;
		left: 1270px;
		top: 250px;
		width: 400px;
		height: 100px;
		justify-content: center;
		padding: 25px 0 0 0;
		z-index: 2;
		.text__1 {
			font-size: 44px;
			color: rgba(255, 255, 255, 0.534);
			text-shadow: 0 0 10px white;
			text-decoration: underline 2px;
		}
	}
	// блок с логотипами компаний
	&__text1 {
		width: 750px;
		height: 205px;
		display: flex;
		position: absolute;
		top: 110px;
		left: 20px;
		justify-content: space-around;
		flex: 0 1 auto;

		// логотип 1 москва сити
		.text1__img1 {
			width: 200px;
			height: 200px;
			background-image: url(../images/logotip.jpg);
			border-radius: 100px;
		}

		// логотип 2 простые решения для дома
		.text1__img2 {
			width: 200px;
			height: 200px;
			background-image: url(../images/logotip2.jpg);
			border-radius: 100px;
		}
		.text1__img3 {
			width: 200px;
			height: 200px;
			background-image: url(../images/logotip3jpg.jpg);
			border-radius: 100px;
		}
		.text1__img1:hover {
			box-shadow: 0 0 10px white;
		}
		.text1__img2:hover {
			box-shadow: 0 0 10px white;
		}
		.text1__img3:hover {
			box-shadow: 0 0 10px white;
		}
	}
	// второй блок с логотипами
	&__text2 {
		width: 750px;
		height: 205px;
		display: flex;
		position: absolute;
		top: 315px;
		left: 20px;
		justify-content: space-around;
		flex: 0 1 auto;
		padding: 0 120px 0 120px;
		// первый логотив второго блока
		.text2__img1 {
			width: 200px;
			height: 200px;
			background-image: url(../images/logotip4jpg.jpg);
			border-radius: 100px;
		}
		// второй логотип второго блока
		.text2__img2 {
			width: 200px;
			height: 200px;
			background-image: url(../images/logotip5.jpg);
			border-radius: 100px;
		}
		.text2__img1:hover {
			box-shadow: 0 0 10px white;
		}
		.text2__img2:hover {
			box-shadow: 0 0 10px white;
		}
	}
	// третий блок между видео и логотипами
	&__text3 {
		border-radius: 50px;
		margin: 165px 0 0 830px;
		display: flex;
		width: 250px;
		height: 300px;
		background-color: white;
		background-image: url(../images/director.jpg);
		transition: 1s;
		// текст внутри фото с директором
		.text3__text1 {
			text-align: center;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 150px;
			height: 40px;
			margin: 50px 0 0 100px;
			font-size: 18px;
		}
		.text3__text1 > h2:hover {
			text-decoration: underline;
			font-size: 24px;
			color: rgb(76, 76, 194);
			transform: rotate(-20deg);
			transition: 1s;
		}
	}
	&__text3:hover {
		box-shadow: 0 0 10px white;
	}
	// заголовок 5 раздела
	&__text4 {
		text-align: center;
		justify-content: center;
		align-items: center;
		position: absolute;
		top: 10px;
		right: 730px;
		display: flex;
		width: 300px;
		height: 100px;
		font-size: 54px;
		color: white;
	}
	// полоса над видео
	&__dekor1 {
		top: 129px;
		right: 58px;
		display: flex;
		position: absolute;
		width: 476px;
		height: 100px;
		border-radius: 100px 100px 0 0;
		background-color: blanchedalmond;
	}
	// полоса под видео
	&__dekor2 {
		top: 391px;
		right: 58px;
		display: flex;
		position: absolute;
		width: 476px;
		height: 100px;
		border-radius: 0 0 100px 100px;
		background-color: blanchedalmond;
	}
}

// 6 раздел сайта
.block6 {
	top: 3059px;
	left: 100px;
	position: absolute;
	display: flex;
	flex-wrap: wrap;
	justify-content: right;
	align-items: center;
	text-align: center;
	width: 1764px;
	height: 400px;
	background-image: url(../images/wave1.svg);
	background-repeat: no-repeat;
	background-size: cover;
	padding: 40px;
	// гугл мапс
	&__googlemap {
		display: inline-block;
	}
	// блок с фото заместителя
	&__zamestitel {
		border-radius: 50px;
		top: 60px;
		left: 50px;
		position: absolute;
		display: flex;
		width: 600px;
		height: 300px;
		justify-content: left;
		align-items: center;
		padding: 10px;
	}
	// фото заместителя
	&__img1 {
		display: flex;
		justify-content: center;
		align-items: center;
		box-shadow: 0 0 10px white;
		border-radius: 100px;
		position: absolute;
		width: 200px;
		height: 200px;
		background-image: url(../images/zamestitel2.jpg);
		// текст под фото заместителя
		.img1__text1 {
			margin-top: 240px;
			font-size: 20px;
			color: white;
		}
	}
	// текст над фото с заместителем
	&__text2 {
		position: absolute;
		top: 70px;
		left: 200px;
		text-align: center;
		font-size: 20px;
	}
	// блок с контактами
	&__kontakti {
		position: absolute;
		top: 115px;
		left: 290px;
		display: flex;
		width: 340px;
		height: 200px;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		padding: 20px 0 0 0;
		// номер телефона
		.kontakti__text1 {
			width: 100%;
			height: 25px;
			font-size: 18px;
			margin: 5px 0 0 0;
			text-align: left;
		}
		// наш сайт
		.kontakti__text2 {
			width: 100%;
			height: 25px;
			font-size: 18px;
			margin: 5px 0 0 0;
			text-align: left;
		}
		// наша почта
		.kontakti__text3 {
			width: 100%;
			height: 25px;
			font-size: 18px;
			margin: 5px 0 0 0;
			text-align: left;
		}
		// метро строгино
		.kontakti__text4 {
			width: 100%;
			height: 25px;
			font-size: 18px;
			margin: 5px 0 0 0;
			text-align: left;
		}
	}
	// блок с сотрудниками
	&__sotrydniki {
		position: absolute;
		top: 50px;
		left: 600px;
		display: flex;
		justify-content: space-around;
		width: 600px;
		height: 300px;
		// Николай бригадир
		.sotrydniki__img1 {
			width: 200px;
			height: 200px;
			.img1__1 {
				border-radius: 100px;
			}
			.img1__text1 {
				font-size: 18px;
			}
		}
		.img1__1:hover {
			width: 220px;
			height: 220px;
			transition: 1s;
		}
		// Иван логист
		.sotrydniki__img2 {
			width: 200px;
			height: 200px;
			.img2__2 {
				border-radius: 100px;
			}
			.img2__text2 {
				font-size: 18px;
			}
		}
		.img2__2:hover {
			width: 220px;
			height: 220px;
			transition: 1s;
		}
	}
}
